In [5]:
import pandas as pd

In [6]:
titanic_train = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv", sep = "\t")

In [7]:
titanic_train.head().descrb

  PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...