In [5]:
import pandas as pd

In [6]:
titanic_train = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv", sep = "\t")

In [8]:
titanic_train.head().describe()

       PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count                                                   5
unique                                                  5
top     1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
freq                                                    1